* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #343a40;
}

header {
  position: relative;
  background-image: linear-gradient(to top, rgba(52, 58, 64, 0.85), rgba(52, 58, 64, 0.85)), url('../imgs/guitar.jpg');
  background-size: cover;
  background-position: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.header-quote, .alma-mater {
  font-size: 1.5rem;
}

.quote-cited {
  font-style: italic;
  font-size: 1.25rem;
}

.profile-box {
  margin: auto;
  padding: 1rem;
}

.profile-img {
  display: block;
  border-radius: 50%;
  width: 300px;
  height: auto;
  padding: 0;
  filter: drop-shadow(-0.05rem 0.05rem 0.2rem #444444);
}

.skills-list {
  list-style-type: none;
  padding: 1rem 0;
}

.project {
  padding: 1rem;
}

.project-img {
  display: block;
  border-radius: 1%;
  filter: drop-shadow(-0.05rem 0.05rem 0.25rem #888888);
}

.project-title {
  text-align: center;
  font-size: 1.25rem;
}

.project-text-margin {
  margin: 1rem auto;
}

.padding {
  padding: 1rem;
}

.education-img {
  display: block;
  width: 250px;
  height: auto;
  margin: auto;
  filter: drop-shadow(-0.05rem 0.05rem 0.25rem #888888);
}

.education-box {
  padding: 1rem 0;
  margin: auto;
}

.contact-text {
  padding: 1rem 0;
}

.contact-btn {
  width: 150px;
  margin: 10px;
}
