/** {
  border: 0.5px dashed black;
}*/

header.front-title {
}

body {

}

header {
  display: inline;
}

h1.headline {
  text-transform: uppercase;
}

h1 a {
  text-decoration: none;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

h2.section-title {
  text-transform: uppercase;
}

div.body-text {
  text-align: justify;
}

ul.navbar-links {
  list-style: none;
  text-align: right;
}

section {
  display: inline-block;
}

div.back-to-top {
    text-align: right;
}

a.back-to-top {
  text-transform: uppercase;
}

section.content {
}

img {

}

img.photo {
  width: 100%;
  height: auto;
}

li.nav-link {
  display: inline;
}

img.social-link {
  height: 30px;
  width: auto;
}

div.social-links {
}

div.ga-link {
  text-align: right;
}
