body {
  letter-spacing: 0.01em;
  line-height: 1.1;
}

h1 a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  height: 30px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  letter-spacing: 0.1em;
}

header.front-title {
  margin: 10px auto;
}

main.container {
  padding-left: 30px;
  padding-right: 30px;
}

div.col-xs-6 {
  padding: 10px;
}

div.col-md-6 {
  padding: 10px;
}

div.col-sm-6 {
  padding: 10px;
}

div.col-sm-7 {
  padding: 10px;
}

div.col-sm-4 {
  padding: 10px;
}

header {
}

div p {
  margin-bottom: 20px;
}

h1.headline {
  text-transform: uppercase;
  text-align: center;
  height: 30px;
  font-weight: 700;
  padding: 20px 0;
  letter-spacing: 0.1em;
}

a.body-link {
  font-weight: 500;
}

.navbar {
  margin: 0px;
}

nav.col-sm-5 {
  padding: 10px;
  padding-top: 20px;
  margin: auto;
}

h2.section-title {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  padding: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  padding: 0 10px 10px 10px;
}

div.body-text {
  font-family: 'Roboto', sans-serif;
}

ul.navbar-links {
  list-style: none;
  text-align: center;
  padding: 20px 0;
}

p.caption {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 0;
}

div.quote-source {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  font-weight: 700;
  padding: 0;
}

section {
  display: inline-block;
}

div.back-to-top {
    text-align: right;
    padding: 0 20px;
}

a.back-to-top {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 10px;
}

section.content {
  padding: 10px;
}

img {

}

img.photo {
  width: 100%;
  height: auto;
  border: 0.5px solid black;
}

li.nav-link {
  display: inline;
  font-size: 18px;
}

img.social-link {
  height: 30px;
  width: auto;
}

div.social-links {
  height: 30px;
}

div.ga-link {
  text-align: right;
  margin: 0;
  padding: 0;
  height: 30px;
}

footer.footer-nav {
  margin-top: 50px;
  height: 50px;
  background-color: #7F7F7F;
}
